<div class="container">
    <div class="row align-items-baseline">
        <div class="col-md-9">
            <mat-form-field appearance="outline" style="width: 100%">
                <input type="text" matInput placeholder="Search..." [formControl]="searchControl">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <button (click)="createUniversity()" mat-raised-button mat-ripple color="primary">+ Add New University</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="count"
               [pageSize]="filters.limit"
               [showFirstLastButtons]="false"
               [pageSizeOptions]="[5, 10, 20]"
               [hidePageSize]="false"
               [pageIndex]="currentPage"
               aria-label="Select page">
            </mat-paginator>

            <ul class="items" [class.loading]="isLoading">
                <li *ngFor="let uni of universities" class="item" [@fadeAnimation]>
                    <div [lazyLoad]="uni.logoImage" class="item__image" alt="item"></div>

                    <div class="item-info">
                        <h3 class="item__name">{{uni.name}}</h3>
                        <p class="item__address">{{uni.address}}</p>
                        <p class="item__university"><b>Rector</b>: {{uni.rector}}</p>
                    </div>

                    <div class="buttons">
                        <button class="button blue" (click)="editUniversity(uni)">Edit University</button>
                        <button class="button red" (click)="deleteUniversity(uni)">Delete University</button>
                    </div>

                </li>

                <li *ngIf="!universities.length && !isLoading">No items found.</li>
            </ul>
        </div>
    </div>
    
</div>