.header{
    background-color: #9eadba;
    width: 100%;
    padding: 20px 15px;
    position: sticky;
    top: 0;

    .mat-icon{
        font-size: 35px;
        height: 35px;
        width: 35px;
        color: #fafafa;
    }
}